@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h1{
    text-align: center;
  }
  
  h2{
    margin-top: 0px;
  }
 
  body{
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .Agendar{
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}
  
  
  .item{
        width: 240px;
        height: 250px;
        padding: 15px;
        overflow: 4hidden;
        box-sizing: border-box;
        margin-left: 6px;
        margin-right: 6px;
        border-radius: 10px;
        justify-items: end;
        margin-bottom: 25px;
        background-color: white;
    }
    /* display: grid; da para colocar grid dentro de grid, quando o item vira grid ele respeita os espacos não precisa coloxar in line block */
    .grid{
        background-image: url("alexandr-podvalny-tE7_jvK-_YU-unsplash.jpg");
        background-repeat: none;
        background-size: cover;
        background-position: center;
    }
  
  .grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    column-gap: 2%;
   
    
    
   
  
  }
  .js2{
    color: #333333;
    margin: 0;
    opacity: 0.8;
    font-size: 13px;
    font-style: normal;
    margin-top: 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    line-height: 18px;
}
.js3 {
    color: #333333;
    margin: 0;
    opacity: 0.8;
    font-size: 12px;
    font-style: normal;
    margin-top: 5px;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    line-height: 18px;
    padding-right: 2rem;
}
.especialidade{
    color: #005DF9;
    margin: 0;
    opacity: 0.8;
    font-size: 15px;
    font-style: normal;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    line-height: 18px;
    padding-right: 2rem;
}

.saiba{
    color: #333333;
    opacity: 0.8;
    font-size: 12px;
    font-style: normal;
    margin-top: 5px;
    font-family: 'Nunito', sans-serif;
    text-decoration: underline;
}




.MuiButton-outlined {

    border: 1px solid rgba(0, 0, 0, 0.23);
    padding: 5px 15px;
}
.estilobotao3 {
    cursor: pointer;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.estilobotao2 {
    color: #005DF9;
    padding: 6px 16px;
    font-size: 0.825rem;
    min-width: 64px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    
}

.espacobotao {
    width: 100%;
}
.estilobotao {
    border: 2px solid #005DF9;
    height: 45px;
    font-size: 13px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    border-radius: 10px;
    text-transform: none;
}

.estilobotao:hover{
    border: 1px solid #005DF9;
    background-color: rgba(0, 93, 249, 0.04);
}


/* QUI COMEÇA O RODAPÉ */



footer{
    background-color: #415aca;
    padding: 50px 0;
    
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
    
}

.footer-col{
    width: 25%;
    padding: 0 15px;
    
}
.footer-col h4{
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #cecdcd;
    padding-left: 10px;
}
.footer-col .medias-socias{
    margin-top: 30px;
}

#botao:hover{
  background-image: linear-gradient(to right, rgb(0,80,172), rgb(80, 19,195) );
  color: white;
}


.redes{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin: 10px;
    color: white;
    padding-left:35px ;
}



.footer-col .medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease;
}
.footer-col .medias-socias a i{
    font-size: 20px;
}

.footer-col .medias-socias a:hover{
    color: #415aca;
    background-color: white;
}
.footer-col .enviar input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: #415aca;
}
.footer-col .enviar input::placeholder{
    color: white;
}
.footer-col .enviar button{
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #415aca;
    border-radius: 3px;
    font-weight: bold;
    background-color: white;        
}
#logo{
    top: 100px;
    bottom: 300px;
}
/* Responsivo */
@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }

}
 
@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
    
  }
  @media (max-width: 800px){}
    .item {
    grid-column: auto;
    
    height: 220px;
    margin: 10px auto;
    max-width: 250px;
}
@media (max-width: 1050px){
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 24px;
        padding-right: 24px;
        
        }
    }  
@media (max-width: 770px){
.grid {
    grid-template-columns: 1fr 1fr;
    padding-left: 24px;
    padding-right: 24px;
    
    }
}  

@media (max-width: 530px){
    .grid {
        grid-template-columns: 1fr;
        padding-left: 24px;
        padding-right: 24px;
        
        }
    }  
